body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    border: 2px solid black;
}

.grid-square {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    box-sizing: border-box;
}